{% extends "base.html" %}
{% block content %}
<!--<img src="{{url_for('static', filename='/js/img.png')}}" align="middle" />-->
<div style="height: 100vh;background-color: blanchedalmond;color:black;" class="jumbotron ui-widget">
    <h1 style="text-align: center;padding: 20px;"> Auto-Complete Search-as-you-type here</h1>
    <div style="position:absolute; left: 40%;top: 30%">
        <input id="source" />
        <div id="result"></div>
    </div>
</div>

<script>
    const $source = document.querySelector('#source');
    const $result = document.querySelector('#result');

    const typeHandler = function(e) {
        $result.innerHTML = e.target.value;
        console.log(e.target.value);

        $.ajax({
            url: "/method",
            type : 'POST',
            cache: false,
            data:{'data': e.target.value},
            success: function(html)
            {
                console.log(html)
                var data = html.aggregations.auto_complete.buckets
                var _ = []

                $.each(data, (index, value)=>{
                    _.push(value.key)
                });
                console.log(_)
                $( "#source" ).autocomplete({
                    source: _
                });
            }
        });
    }

    $source.addEventListener('input', typeHandler) // register for oninput
</script>
{% endblock %}

